/*-----------------------------------------------------------------------------------------------*/
  // COLORS & BACKGOUNDS
/*-----------------------------------------------------------------------------------------------*/

$main-background: #EEEEEE;
$nav-background: #FFE600;
$container-background: #FFFFFF;

$text-default-color: #333333;
$text-main-color: #999999;
$text-second-color: #666666;

$button-main-background: #3483FA;
$button-main-color: #FFFFFF;
$button-main-hover-background: #2473EA;


/*-----------------------------------------------------------------------------------------------*/
  // BORDER RADIUS
/*-----------------------------------------------------------------------------------------------*/

$common-border-radius: 4px;
